@use 'framework';

$main-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

header.grid-12 {
  margin-left: 150px;
  flex-wrap: nowrap;
  height: 100px;
  margin-bottom: 50px;

  nav {
    margin-left: 10px;
  }
}

header > :first-child {
  min-width: 226px;
  margin-right: 10px;
}

.logo-link {
  margin-right: 15px;
  min-width: 226px;
  img {
    height: 70px;
  }

  div {
    padding-left: 0.5em;
    color: #cc9543;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: 2em;
    font-weight: 700;
    font-family: "Amatic SC", cursive;
  }
  @media (max-width: 1036px) {
    div {
      font-size: 1.6em;
    }
    img {
      height: 60px;
    }
  }
}

.nav-list {
  width: 530px;
  margin-left: auto;
  display: flex;
  align-items: center;
  a {
    color: rgba(74, 74, 74, 0.7);
    font-weight: 700;
    padding: 0.5rem;
    font-family: $main-font;
    white-space: nowrap;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .divider {
    color: rgba(74, 74, 74, 0.7);
    font-weight: 700;
    padding: 0.5rem;
    font-size: 24px;
  }
}

.menu-button {
  display: none;
  padding: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  header.grid-12 {
    margin: 0 20px;
  }

  header nav.width-8 {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

.first-section {
  background: linear-gradient(white, #eee);
}

.main-heading {
  padding-bottom: 40px;
  color: #ce973e;
  font-size: 2.25rem;
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
}

.main-sub-heading {
    padding-bottom: 80px;
}

.paragraph-text {
  color: rgba(74, 74, 74, 0.7);
  font-family: $main-font;
  font-size: 1.125rem;

  text-align: center;
  line-height: 1.88;
}

.big-button {
  color: white;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 1rem 3.5rem;
  margin-bottom: 60px;
}

.teal-button {
  background-color: rgb(106, 191, 195);
}

.main-banner-image {
  width: 100%;
  height: auto;
}

.how-section {
  padding: 100px 0;

  h2 {
    font-family: $main-font;
    font-weight: 700;
    color: rgb(74, 74, 74);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 36px;
  }
}

.how-primary {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.how-secondary {
  max-width: 1080px;
  margin: 0 auto;

  img {
    height: 165px;
    width: auto;
  }
}

.how-tile {
  flex-direction: column;

  h4 {
    margin: 50px 0 20px;
    font-weight: bold;
    font-family: $main-font;
    font-size: 1.125rem;
  }
}