@use 'framework';

$main-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

header.grid-12 {
  margin-left: 150px;
  flex-wrap: nowrap;
  height: 100px;
  margin-bottom: 50px;

  nav {
    margin-left: 10px;
  }
}

header > :first-child {
  min-width: 226px;
  margin-right: 10px;
}

.logo-link {
  margin-right: 15px;
  min-width: 226px;
  img {
    height: 70px;
  }

  div {
    padding-left: 0.5em;
    color: #cc9543;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: 2em;
    font-weight: 700;
    font-family: "Amatic SC", cursive;
  }
  @media (max-width: 1036px) {
    div {
      font-size: 1.6em;
    }
    img {
      height: 60px;
    }
  }
}

.nav-list {
  width: 530px;
  margin-left: auto;
  display: flex;
  align-items: center;
  a {
    color: rgba(74, 74, 74, 0.7);
    font-weight: 700;
    padding: 0.5rem;
    font-family: $main-font;
    white-space: nowrap;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .divider {
    color: rgba(74, 74, 74, 0.7);
    font-weight: 700;
    padding: 0.5rem;
    font-size: 24px;
  }
}

.menu-button {
  display: none;
  padding: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  header.grid-12 {
    margin: 0 20px;
  }

  header nav.width-8 {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

.first-section {
  background: linear-gradient(white, #eee);
  .big-button {
    margin-bottom: 60px;
  }
}

.main-heading {
  padding-bottom: 40px;
  color: #ce973e;
  font-size: 2.25rem;
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
}

.main-sub-heading {
  padding-bottom: 80px;
}

.paragraph-text {
  color: rgba(74, 74, 74, 0.7);
  font-family: $main-font;
  font-size: 1.125rem;

  text-align: center;
  line-height: 1.88;
}

.big-button {
  color: white;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 1rem 3.5rem;
}

.teal-button {
  background-color: rgb(106, 191, 195);
}

.orange-button {
  background-color: #cc9543;
}

.main-banner-image {
  width: 100%;
  height: auto;
}

.how-section {
  padding: 100px 0;

  h2 {
    font-family: $main-font;
    font-weight: 700;
    color: rgb(74, 74, 74);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 36px;
  }
}

.how-primary {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.how-secondary {
  max-width: 1080px;
  margin: 0 auto;

  img {
    height: 165px;
    width: auto;
  }
}

.how-tile {
  flex-direction: column;

  h4 {
    margin: 50px 0 20px;
    font-weight: bold;
    font-family: $main-font;
    font-size: 1.125rem;
  }
}

.curriculum-section {
  padding: 60px 0;
  background-color: rgb(243, 243, 243);
  h2 {
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: rgb(74, 74, 74);
  }
}

.tech-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  max-width: 950px;

  a {
    display: block;
    padding: 23px 46px 25px 46px;
    margin: 15px;
    background-color: #fff;
    width: 254px;
    // height: 256px;
    font-weight: bold;
    font-family: $main-font;
    font-size: 1.125rem;
    text-align: center;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  }

  h4 {
    margin-top: 18px;
  }
  img {
    width: 160px;
    height: 160px;
  }
  @media (max-width: 554px) {
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.success-section {
  padding: 70px 0;
  background: linear-gradient(white, #eee);
  h2 {
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: rgb(74, 74, 74);
  }
}

.success-stories {
  max-width: 1280px;
  a {
    color: #ce973e;
    font-size: 1.125rem;
    font-family: $main-font;
    line-height: 1.88;
  }

  a:hover {
    color: black;
  }
  p {
    font-size: 1.125rem;
    font-family: $main-font;
    line-height: 1.88;
    color: rgba(74, 74, 74, 0.7);
  }
  > div {
    padding-bottom: 36px;
  }
}

@media (max-width: 1200px) {
  .success-stories > .width-6 {
    margin: 0 auto;
    min-width: 600px;
  }
}
@media (max-width: 600px) {
  .success-stories > .width-6 {
    margin: 0 auto;
    min-width: 100%;
  }
}

.story-image {
  padding: 16px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.read-more-link {
  padding-top: 30px;
  text-align: center;
  font-family: $main-font;
  color: rgba(74, 74, 74, 0.7);
  text-decoration: underline;
  display: block;
  margin-bottom: 60px;
}

.read-more-link:hover {
  color: black;
}

.start-learning {
  color: rgba(74, 74, 74, 0.7);
  font-size: 2.2em;
  line-height: 1.5em;
  margin: 0 auto 2.5rem;
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
}
